# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store

.env
.env.local
.env.*.local

/node_modules/
npm-debug.log*

/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/frontend/.next/


/.playwright-mcp
